xgb_1.pkl
xgb_2.pkl
xgb_3.pkl
xgb_4.pkl
xgb_5.pkl
xgb_6.pkl
xgb_7.pkl
xgb_8.pkl
xgb_9.pkl
xgb_10.pkl
xgb_11.pkl
xgb_12.pkl
valid_purchases_transaction_level.csv
online_retail_cleaned_customerlevel.csv
eda_customerlevel.ipynb
X_test_selected.csv
X_train_selected.csv
y_test.csv
y_train.csv
feature_importance.csv
return_flagger_xgb_optuna.json
online_retail_cleaned.csv
online_retail_II.xlsx
